Matpolib

Numpy

List

In [1]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
num=[1,2,3,4,5,6,7,8,9,10]
print("Sum: ",sum(num))

Sum:  55

In [6]:
num=[1,2,3,4,5,6,7,8,9,10]
print("Min: ",min(num))
print("Max: ",max(num))

Min:  1
Max:  10

In [8]:
num=[1,2,3,4,5,6,7,8,9,10]
num.append(11)
print("Updated List",num)

Updated List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
num=[1,2,3,4,5,6,7,8,9,10]
print("Ascending: ",sorted(num))
print("Descending: ",sorted(num,reverse=True))

Ascending:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Descending:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Tuple

In [3]:
fruits=("mango","orange","strawberry","cherry","pineapple")
print(fruits)

('mango', 'orange', 'strawberry', 'cherry', 'pineapple')

In [4]:
fruits=("mango","orange","strawberry","cherry","pineapple")
print("1st element: ",fruits[0])
print("last element: ",fruits[-1])

1st element:  mango
last element:  pineapple

In [7]:
fruits=("mango","orange","strawberry","cherry","pineapple")
fruits.append("banana")

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
fruits=("mango","orange","strawberry","cherry","pineapple")
fruits_list=list(fruits)
fruits_list[2]="banana"

print("Modified List: ",fruits_list)

Modified List:  ['mango', 'orange', 'banana', 'cherry', 'pineapple']

Set

In [17]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={11,12,13,14,15,16,17,18,19,20}
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [21]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={10,11,12,13,14,15,16,17,18,19,20}
print("Union: ",set1.union(set2))
print("Intersection: ",set1.intersection(set2))
print("Difference: ",set1.difference(set2))

Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Intersection:  {10}
Difference:  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1.add(6)
set2.remove(7)
print("Updated Set1: ",set1)
print("Updated Set2: ",set2)

Updated Set1:  {1, 2, 3, 4, 5, 6}
Updated Set2:  {4, 5, 6, 8}

Dictionary

In [23]:
student_marks={
    "gullu":29,
    "Mary":28,
    "Fati":30,
    "Esho":27,
    "Ami":28
    }
print(student_marks)

{'gullu': 29, 'Mary': 28, 'Fati': 30, 'Esho': 27, 'Ami': 28}

In [27]:
student_marks={
    "gullu":29,
    "Mary":28,
    "Fati":30,
    "Esho":27,
    "Ami":28
    }
student_marks['Mary']=30
print(student_marks)

{'gullu': 29, 'Mary': 30, 'Fati': 30, 'Esho': 27, 'Ami': 28}

In [24]:
student_marks={
    "Mary":29,
    "Mary":28,
    "Mary":30,
    "Mary":27,
    "Mary":28
    }
print(student_marks)

{'Mary': 28}